body{
    background-image: url('115468.jpg');
    background-size: 1400px 800px;
}
CAPTION{
    font-family: 'Great Vibes', cursive;
}
TH{
    font-weight: 100;
    font-family:'Mistral', Cursive;
    font-size:23px;
}
TD{
    border:1px solid #3CB371;
}